<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Assignment Form</title>
</head>

<body>
	<div>
		<form th:action="@{/ticketassignment}" method="post">
			<!--<form th:action="@{${ticket.id} != null ? '/users/' + ${ticket.id} : '/users'}" method="post" hx-post="@{${ticket.id} != null ? '/users/' + ${ticket.id} : '/users'}" hx-target="#userRows" hx-swap="outerHTML">-->
	        <label>Ticket Id: <p th:text = "${assignment.ticketId}"></p></label><br/>
			<label>Title: <p th:text = "${ticket.title}"></p> Application: <p th:text = "${ticket.applicationId}"></p></label><br/>
	        <label>Ticket Description: <p th:text = "${ticket.description}"></p></label><br/>
	        <label>Available Technitions: </label><br/>
			<input type="hidden" name="assignedBy" th:field="${assignment.assignedBy}" />
			<input type="hidden" name="ticketId" th:field="${assignment.ticketId}" />
			<select name="technicianId" id="technicianId">
				<option value="0">Select Technition</option>
				<option th:each="technition : ${technitions}" th:value="${technition.id}" th:text="${technition.firstName} + ',' + ${technition.lastName}" th:selected="${technition.id == assignment.technicianId}"></option>
			</select>
	        <button type="submit">Save</button>
	    </form>
	</div>
</body>
</html>


